* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background-image: url('./assets/beach-glasses-unsplash.jpeg');
  background-size: cover;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

button {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
}
