// Color Swatches
$red: #f1736b;
$green: #65bf78;
$grey: #6c757d;
$dark-grey: #51575d;
$white: #fff;
$blue: #0d6efd;
$slate-blue: rgb(12, 124, 186);
$orange: rgb(240, 191, 99);
$lime-green: rgb(104, 209, 104);
$magenta: rgb(209, 5, 209);
$transparent-white: rgba(255, 255, 255, 0.8);
$black: #000000;